<!DOCTYPE html>
<html lang="en">
<head>
  <title>Join Us</title>
</head>
<body>
  <h1>Join Us</h1>

  <p>we have more than <%= data %> of people!</p>

  <form method="POST" action="/register">
    <input type="text" name="email" class="text" placeholder="enter your email">
    <button>Join Now</button>
  </form>

</body>
</html>